body{
    background-color: black;
}
.container-fluid{
    margin-top: 10px;
}
#first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#p1{
    padding: 0;
    margin-right: 0px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    color: whitesmoke;
}
#again{
    border-color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 7px 12px;
}
#bet{
    font-weight: bold;
    color: whitesmoke;
}
#second{
    margin-bottom: 100px;
}
#inp{
    display: flex;
    flex-direction: column;
}
#num{
    margin-left: 35px;
}
#check{
    margin-left: 62px;
    font-weight: bold;
    border-color: white;
    font-size: 25px;
    padding: 7px 12px;
}
input{
    height: 70px;
    text-align: center;
    border: 3px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
}
h4,h3{
    font-weight: bold;
    color: whitesmoke;
}
@media screen and (max-width:992px){
    #again{
        font-size: 20px;
        padding: 4px;
    }
}
.line{
    border: 2px solid whitesmoke;
    height: 0;
}
.mid{
    color: black;
    background-color: whitesmoke;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -45px;

}
@media screen and (max-width:645px){
    #start{
        font-size: 20px;
    }
}
@media screen and (max-width:545px){
    #start{
        font-size: 17px;
    }
}